<div [formGroup]="studentForm" style="background-size: contain; background-color: mediumspringgreen;">
<div style="font-size: xx-large; color: rgb(0, 89, 130); margin-left: 300px;">
  <br>
  <a routerLink="/student-details">Details</a>
</div>
<div style="font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: x-large; background-color: mediumpurple; text-decoration-style:dotted; white-space: pre-line;">
  <div style="margin-left: 200px">
    <h3 style="background-position: center; color:maroon;">Enter Student-details</h3>
    <Label>Roll No: </Label>
    <input formControlName="prn" class="form-control" style="height:25px;margin-left: 79px;" type="text" >
    <div *ngIf="studentForm.controls.prn.invalid && (studentForm.controls.prn.dirty || studentForm.controls.prn.touched)">
      <div *ngIf="studentForm.controls.prn.errors.required">
        Name is required.
      </div>
      </div>
  </div>
   <div  style="margin-left: 200px">
    <Label>First Name: </Label>
    <input formControlName="firstName" class="form-control" style="height:25px;margin-left: 41px;" type="text">
    <div *ngIf="studentForm.controls.firstName.invalid && (studentForm.controls.firstName.dirty || studentForm.controls.firstName.touched)">
  <div *ngIf="studentForm.controls.firstName.errors.required">
    Name is required.
  </div>
  <div *ngIf="studentForm.controls.firstName.errors.minlength">
    Name must be at least 4 characters long.
  </div>
</div>
  </div>
   <div  style="margin-left: 200px">
    <Label>Last Name: </Label>
    <input formControlName="lastName" class="form-control" style="height:25px;margin-left: 44px;"  type="text">
      <div *ngIf="studentForm.controls.lastName.invalid && (studentForm.controls.lastName.dirty || studentForm.controls.lastName.touched)"
    class="alert alert-danger">

      <div *ngIf="studentForm.controls.lastName.errors.required">
        Last Name is required.
      </div>
      <div *ngIf="studentForm.controls.lastName.errors.minlength">
        Last Name must be at least 4 characters long.
      </div>
    </div>
  </div>
   <div  style="margin-left: 200px">
    <Label>Phone No: </Label>
    <input formControlName="phoneNo" class="form-control" style="height:25px;margin-left: 54px;" type="text">
    <div *ngIf="studentForm.controls.phoneNo.invalid && (studentForm.controls.phoneNo.dirty || studentForm.controls.phoneNo.touched)">
      <div *ngIf="studentForm.controls.phoneNo.errors.required">
        phoneNo No is required.
      </div>
      <div *ngIf="studentForm.controls.phoneNo.errors.minlength">
        phoneNo Number must be 10 digit
      </div>
      <div *ngIf="studentForm.controls.phoneNo.errors.notANumber">
        phoneNo Number must contain digit
      </div>
      <div *ngIf="studentForm.controls.phoneNo.errors.maxlength">
        phoneNo Number must contain 10 digit only
      </div>
    </div>
  </div>
   <div  style="margin-left: 200px">
    <Label>Email: </Label>
    <input  formControlName="email" class="form-control" style="height:25px;margin-left: 96px;" type="text">
    <div *ngIf="studentForm.controls.email.invalid && (studentForm.controls.email.dirty || studentForm.controls.email.touched)">
      <div *ngIf="studentForm.controls.email.errors.required">
        Email is required.
      </div>
      <div *ngIf="studentForm.controls.email.errors.email">
        Enter Valid Mail
    </div>
    </div>

  </div>
   <div  style="margin-left: 200px;">
    <Label>Branch : </Label>
    <input formControlName="branch" class="form-control"  style="height:25px;margin-left: 75px;"  type="text" >
  </div>
  <div  style="margin-left: 200px">
   <Label>IsPlaced : </Label>
   <!-- <input  id="true" name="isplace" formControlName="isplaced" class="form-control" style="height:25px;margin-left: 61px;"  type="radio">
  <label for="true">true</label>
   <input  id="false" name="isplace" style="height:25px;margin-left: 61px;"  type="radio" >
   <label for="false">false</label><br>
 </div> -->
 <select id="isPlaced" name="isPlaced" formControlName="isPlaced" class="form-control" style="margin-left: 61px;height:30px; width: 180px; margin-left: 61px;">
  <option value="true">true</option>
  <option value="false">false</option>
</select>
 <br>
<div style = " margin-left: 370px;height: 18px; width: 30px; color: lawngreen;">
  {{errorMessage}}
  <button style = "width: 150px; height: 40px; font-size: larger;background-color: seagreen;color: maroon;"type="button" (click)="addStudent()">Add</button>
</div>
</div>
<div>

</div>
</div>
