<div style="background-size: contain; background-color:teal;">
  <div style="font-size: xx-large; color: black; margin-left: 300px;">
    <br>
    <a style="color: black;" routerLink="/student-details">Back To Details...</a>

  </div>
  <div style="font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: x-large; background-color: yellowgreen; text-decoration-style:dotted; white-space: pre-line;">
    <div style="margin-left: 200px">
      <h3 style="background-position: center; color:maroon;">Want to Delete this???</h3>
      <Label>Roll No: </Label>
      <input  style="height:25px;margin-left: 79px;" type="text" [(ngModel)]="studentData.prn" >
    </div>
     <div  style="margin-left: 200px">
      <Label>First Name: </Label>
      <input  style="height:25px;margin-left: 41px;" type="text" [(ngModel)]="studentData.firstName" >
     </div>
     <div  style="margin-left: 200px">
      <Label>Last Name: </Label>
      <input  style="height:25px;margin-left: 44px;"  type="text" [(ngModel)]="studentData.lastName">
    </div>
     <div  style="margin-left: 200px">
      <Label>Phone No: </Label>
      <input  style="height:25px;margin-left: 54px;" type="text" [(ngModel)]="studentData.phoneNo">
    </div>
     <div  style="margin-left: 200px">
      <Label>Email: </Label>
      <input  style="height:25px;margin-left: 96px;" type="text" [(ngModel)]="studentData.email">
    </div>
     <div  style="margin-left: 200px;">
      <Label>Branch : </Label>
      <input  style="height:25px;margin-left: 75px;"  type="text" [(ngModel)]="studentData.branch">
    </div>
    <div  style="margin-left: 200px">
     <Label>IsPlaced : </Label>
     <input  style="height:25px;margin-left: 61px;"  type="text" [(ngModel)]="studentData. isPlaced">
   </div>
   <br>
  <div style = " margin-left: 300px;height: 20px; width: 30px; color: lawngreen;">
    {{errorMessage}}
    <button style = "width: 150px; height: 40px; font-size: larger;background-color: seagreen;color: maroon;"type="button" (click)="deleteStudent()" > Delete </button>
  </div>
  </div>
  <div>

  </div>
  </div>
